<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
	 printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"
         backupGlobals="true"
         backupStaticAttributes="false"
	 bootstrap="vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
	 verbose="true">

	 <testsuites>
		 <testsuite name="FluVal Test Suite">
			 <directory
				 suffix="Test.php"
				 phpVersion="7.3.0" 
				 phpVersionOperator=">=" >
				tests
			 </directory>
		</testsuite>
	 </testsuites>
</phpunit>
